<div id="infoDiv">
  <div id="infoBorder1">
    <div id="infoBorder2">

      <div id="infoBorder3" class="pure-g">

        <div id="infoSloganLine" class="pure-u-1-1">
          <a href="" class="btn" ng-click="$ctrl.restoreToLanding()">sign up</a>
          <h1 id="slogan"><span>168h: We Are All Time Travellers at Present</span></h1>
          <h3 id="sellingLine"><span>There are 168 hours in every week. 168h helps you make the most of them.</span></h3>
          <p id="promoText">Do you really need another calendar application? Probably not. There are so many already installed on your phone, your computer and even associated with your numerous email accounts. But do you actually <em>use</em> any of them?<br>
            <br>
          168h isn't your standard productivity application. We offer a fully customizeable, comprehensive time management experience. Click below to learn more...</p>

        </div>

        <div id="infoColumn1" class="pure-u-1-3">
          <a href="" class="btn" ng-click="$ctrl.controlProduction()">productive</a>
          <div id="beProductive">
            <img src="./img/coffee-cup-1797283_1280.jpg">
            <h2>Productive</h2>

            <p>Do you have appointments? Deadlines? Meetings? Dates with destiny? We've got you covered. That's calendaring basics and it's all in here. Let's get organized.</p>
            <p>But do you also have bills? Goals? Important occasions you don't want to forget? You're not forgetting your anniversary again this year. We've got the tools to keep you on track and out of the doghouse.</p>
            <img src="./img/paid-1726356_1920.jpg">
            <h4>• Bill Tracking</h4>
            <p>See when your bills are due at a glance. Track what's left on your principle. Get reports on how much and where all your money is going. The 168h bill tracker keeps you in the know when it comes to keeping the collectors at bay.</p>
            <img src="./img/checklist-2077019_1920.jpg">
            <h4>• Task Tracking</h4>
            <p>Consolidate all those "to do" lists into one location that lets you know at a glance how much time you have left for that rough draft, code sprint or guest room wallpapering task.</p>
            <img src="./img/target-1955257_1920.jpg">
            <h4>• Goal Tracking</h4>
            <p>It takes 10,000 hours to master a skill and you only get 168 of them each week. Time to set goals to ensure you get your hours in consistently.</p>
            <p>Goal tracker lets you set weekly goals for the things you want to master. Having trouble getting your requisite 56 hours of sleep every week? Goal track it. Want to make sure you get in 20 hours of reading time each week? Goal track it. Need 10 hours of quality time with your loved ones? Goal track it. Learning Mandarin? Goal track your way to 征服 today.</p>
            <img src="./img/red-585x390.jpg">
            <h4>• Occasion Reminders</h4>
            <p>Birthdays, anniversaries, vacations, conferences.... never get caught flat-footed on life's major events ever again. With occaions reminders, you get a heads up for important dates so you can plan <em>before</em> the florist closes up shop for the day.</p>

          </div>

        </div>
        <div id="infoColumn2" class="pure-u-1-3">
          <a href="" class="btn" ng-click="$ctrl.controlCustoms()">customize</a>
          <div id="beCustom">
            <img src="./img/restored-1646979_1920.jpg">
            <h2>Customize</h2>
            <p>Do you like expanding your vocabulary with new words each day? Do you like motivational posters in September and cute kittens in March? Have you ever wondered what the Ottoman Empire was up to on this day in history? Or like to mix up your jams with Hawaiian music on Fridays and black metal on Sundays? Your calendaring experience is as unique as you are.</p>
            <img src="./img/still-life-2742860_1920.jpg">
            <h4>• Custom Art</h4>
            <p>Assemble you favorite images for each month. July can feature pictures of monkeys. November for family photos. Go head, make the daily art display say something about you. Upload or simply link to your online photo collections and let 168h serve you with a daily dose of art that expresses your sensibility.</p>
            <p>Photos can also be associated with holidays or annual observations. Now you can have Da Vinci on your daytimer every April 15th (that's his birthday), or Pablo Picasso every October 25th (yep... that's his birthday too).</p>
            <img src="./img/children-50209_1920.jpg">
            <h4>• Custom Music</h4>
            <p>If it can be found on Bandcamp it can be hosted through 168h. Just set up your favorite euro-pop hits for Fridays or bring on the funk for February. You control the jams.</p>
            <img src="./img/lights-1088141_1920.jpg">
            <h4>• Custom Holidays</h4>
            <p>You want to add St. Patrick's Day, Talk Like a Pirate Day or Star Wars Day? Knock yourself out. Your holidays are yours. Link them to your favorite art and music. Now every Pi Day can be a party on <em>your</em> 168h.</p>
            <img src="./img/telescope-950907_1920.jpg">
            <h4>• Custom Observances</h4>
            <p>Want to remember Nicolai Tesla's birthday every year? Observe the birthdates of hot fashion models and/or gangster rappers? Plug them in. Being productive never felt so fun.</p>
            <img src="./img/room-2734776_1920.jpg">
            <h4>• Custom Tiles</h4>
            <p>You even control the textures of the individual tiles for the month displays. Fill up your July with fireworks or add snowflakes to your December. The look and feel of 168h belongs to you.</p>


          </div>

        </div>
        <div id="infoColumn3" class="pure-u-1-3">
          <a href="" class="btn" ng-click="$ctrl.controlSociety()">social</a>
          <div id="beSocial">
            <img src="./img/duckling-2659938_1920.jpg">
            <h2>Social</h2>
            <p>Do you have friends? More importantly, do you have friends who also use 168h? Share your appointments. Share your events. You can even share your art and music themes. With 168h, you can see who is available for that super important logistics meeting or just drop a quick note to touch base.</p>
            <img src="./img/hands-1778553_1920.jpg">
            <h4>• Share Your Calendar... or Don't</h4>
            <p>Trying to schedule a meeting with busy 168h users? Share your schedule to quickly see when everyone is available. Don't want to share your weekly sessions with the dental proctologist? You have full control over what gets shared and what stays private.</p>
            <img src="./img/birds-1601101_1920.jpg">
            <h4>• Swap Art/Music Themes</h4>
            <p>Have you assembled the best playlist of rockabilly Christmas music? Put together a collection of pastel prints for April? Go ahead and share with your friends or with the 168h community. Our collection of art and music themes grows from our user base.</p>
            <img src="./img/light-bulb-1246043_1920.jpg">
            <h4>• Got Ideas for New Features?</h4>
            <p>The 168h team would love to hear your ideas about how to add fun and productivity to the calendaring experience. Go ahead and drop our admins a note and we'll strive to keep growing this application.</p>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

  <div id="topBanner" class="pure-g">
    <div class="pure-u-1-5">
      <div id="doubleClock">
        <br><br><br>
        <p></p>
      </div>
    </div>
    <div id="logo2" class="pure-u-3-5">
      <img id="logo2img" href="#" src="./img/onlinelogomaker-071717-1242-0242.png">
      <div id="tripleClock">

        <p></p>
      </div>
    </div>

    <div id="clockLanding" class="pure-u-1-5">

      <p></p>
    </div>



</div>



<div id="loginDiv" class="pure-g">



  <div class="pure-u-1-3">

    <ul>
      <li><a id="landingLogin" href="#" class="btn">login</a></li>
      <li>
        <form id="newUserForm" class="pure-form">
          <fieldset class="pure-group">
            <input id="newUserName" type="text" class="pure-input-1" placeholder="name">
            <input id="newUserEmail" type="email" class="pure-input-1" placeholder="email">
            <input id="newUserPassword" type="password" class="pure-input-1" placeholder="password">
            <input id="newUserVerifyPassword" type="password" class="pure-input-1" placeholder="retype password">

          </fieldset>
        </form>

      </li>
      <li><a id="newUserSubmit" class="btn" ng-click="$ctrl.newUserSubmit()">submit</a></li>
      <li><a id="newUserExit" class="btn">exit</a></li>
      <li><a href="#" id="nextContinue" class="btn">next</a></li>
    </ul>
  </div>

  <div class="pure-u-1-3">

    <ul>

      <li><a id="landingNewUser" href="#" class="btn">new user</a></li>
      <li>
        <form id="userLoginForm" class="pure-form">
          <fieldset class="pure-group">
            <input id="loginEmail" type="email" class="pure-input-1" placeholder="email">
            <input id="loginPassword" type="password" class="pure-input-1" placeholder="password">

          </fieldset>
        </form>
      </li>
      <li><a id="loginSubmit" href="#" class="btn" ng-click="$ctrl.loginAttempt()">submit</a></li>
      <li><a id="loginExit" href="#" class="btn">exit</a></li>
      <li><a id="loginForgotPassword" href="#" ng-click="$ctrl.lostPassword()"><p>forgot password?</p></a></li>
    </ul>
  </div>

  <div class="pure-u-1-3">

    <ul>

      <li><a id="landingInfo" href="#" class="btn">info</a></li>
      <li id="loginFailSpace"><h3 id="loginFailNotice"></h3></li>


    </ul>
  </div>

</div>







<footer>
  <div class="pure-g">

    <div class="pure-u-1-2">
      <h3>&copy; 2017 HurdAudio</h3>
    </div>
    <div id="footerCol3" class="pure-u-1-2">
      <h2>Follow me on</h2>
      <a href="https://github.com/HurdAudio"><img src="./img/GitHub_Logo.png"></a>
    </div>
  </div>
</footer>
